.bottom-fixed{
position: absolute;
width: 100%;
bottom: 10px;
left:0px;
}

.slick-next{
  right: 30px;
  z-index: 99;
}

.slick-prev{
  left: 30px;
  z-index: 99;
}

#slider .slick-prev:before,
#slider .slick-next:before
{
    color: #fff;
    font-size: 38px
}

#courses .slick-prev:before,
#courses .slick-next:before
{
    font-size: 35px
}

#courses .slick-prev{
  left: -33px !important;

}
#courses .slick-next{
  right: -20px !important;
}

#products .slick-prev:before,
#products .slick-next:before
{
    font-size: 35px
}

#products .slick-prev{
  left: -33px !important;

}
#products .slick-next{
  right: -20px !important;
}

#brands .slick-prev:before,
#brands .slick-next:before
{
    font-size: 35px
}

#brands .slick-prev{
  left: 12px !important;

}
#brands .slick-next{
  right: 27px !important;
}

.slick-dots li button:before
{
  font-size: 16px;
  line-height: 20px;

  width: 20px;
  height: 20px;

  opacity: .35;
  color: white;
}
.slick-dots li.slick-active button:before
{
  opacity: 1;
  color: white;
}

.slick-dotted.slick-slider{
  margin-bottom: 0px;

}

.nobottom{
  margin-bottom: 0;
}

.banner{
	background-color:#f3357f;
  color: white;
  font-weight: 900;
  padding-top: 1px;
  padding-bottom: 1px;
}

.banner h1{
  font-size: 35px;
  margin: 1.1rem 0;
}

.socialnav {
   padding: 5px;
   font-size: 30px;
   width: 40px;
   height: 40px;
   text-align: center;
   text-decoration: none;
   margin: 5px 5px;
   border-radius: 50%;
   background-color: #f3357f;
   color: white;
}

.socialcourse {
   padding: 5px;
   font-size: 15px;
   width: 38px;
   height: 38px;
   text-align: center;
   text-decoration: none;
   margin: 5px 5px;
   border-radius: 50%;
   background-color: #f3357f;
   color: white;
}

.input-field input[type=text], .input-field input[type=email]{
  background-color: white;
  margin: 0 0 -10px 0;
}

#contactform .row .col{
  padding: 0px 5px;
}

#contactform .row .col .but{
  padding: 0px 5px;
}

#contactsection p{
  color: #5d5d5d;
}

#contactsection i{
  color: #5d5d5d;
}
