.z-depth-0 {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0);
}

img.menulogomovil{
  height:60px;
  margin-top: -32px
}

img.menulogo{
  /* height:150px; */
  width: 300px;
  margin-top:0px;
  margin-left:20px;
}
img.menupe{
  height:40px;
  margin-top:10px;
  margin-left:50px;
}

nav#topnav{
  background-color: #f3357f;
}

nav#topnav li,nav#topnav a{
  line-height: 40px;
  height: 40px;
}

nav#topnav i{
  line-height: 45px;
  height: 40px;
  z-index: 4;
}

nav#topnavmovil{
  background-color: #f3357f;
}

nav#topnavmovil li,nav#topnavmovil a{
  line-height: 40px;
  height: 40px;
}

nav#topnavmovil a{
  padding: 0 5px;
  margin-left: 15px;
}
nav#topnavmovil i{
  line-height: 45px;
  height: 40px;
  z-index: 4;
}

nav#undernav{
  background-color: #fff;
  height: 78px;
}

nav#undernav a{
  color:#f3357f;
}

nav#undernav-movil{
  background-color: #fff;
  height: 78px;
}

.lh84{
  line-height: 78px !important;
  height: 78px;
  letter-spacing: 1px;
}
.lh60{
  line-height: 60px !important;
  height: 60px;
  letter-spacing: 0px;
}

.page-footer{
  background-color: #f3357f;
  padding-top: 0px;
}


.socialfooter {
   padding: 10px;
   padding-top: 13px;
   font-size: 20px;
   width: 40px;
   height: 40px;
   text-align: center;
   text-decoration: none;
   margin: 5px;
   border-radius: 50%;
   color: #f3357f;
   background-color: white;
}
