*{
  font-family: Nunito;
}

h1,h2,h3,h4,h5,h6{
  font-family: Nunito;
}


.z-depth-0 {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0);
}

img.menulogomovil{
  height:60px;
  margin-top: -32px
}

img.menulogo{
  /* height:150px; */
  width: 300px;
  margin-top:0px;
  margin-left:20px;
}
img.menupe{
  height:40px;
  margin-top:10px;
  margin-left:50px;
}

nav#topnav{
  background-color: #f3357f;
}

nav#topnav li,nav#topnav a{
  line-height: 40px;
  height: 40px;
}

nav#topnav i{
  line-height: 45px;
  height: 40px;
  z-index: 4;
}

nav#topnavmovil{
  background-color: #f3357f;
}

nav#topnavmovil li,nav#topnavmovil a{
  line-height: 40px;
  height: 40px;
}

nav#topnavmovil a{
  padding: 0 5px;
  margin-left: 15px;
}
nav#topnavmovil i{
  line-height: 45px;
  height: 40px;
  z-index: 4;
}

nav#undernav{
  background-color: #fff;
  height: 78px;
}

nav#undernav a{
  color:#f3357f;
}

nav#undernav-movil{
  background-color: #fff;
  height: 78px;
}

.lh84{
  line-height: 78px !important;
  height: 78px;
  letter-spacing: 1px;
}
.lh60{
  line-height: 60px !important;
  height: 60px;
  letter-spacing: 0px;
}

.page-footer{
  background-color: #f3357f;
  padding-top: 0px;
}

.maptitle{
  display: block;
  padding: 2px 15px;
  border:none;
  text-align:center
}

.maptitle h5{
  font-weight:900;
}

.socialfooter {
   padding: 10px;
   padding-top: 10px;
   font-size: 20px !important;
   width: 40px;
   height: 40px;
   text-align: center;
   text-decoration: none;
   margin: 5px;
   border-radius: 50%;
   color: #f3357f;
   background-color: white;
}

.left300{
  margin-left: 300px;
}

footer div{
  padding: 10px 30px;
}

@media only screen and (min-width: 1024px){

}
@media only screen and (min-width: 768px) and (max-width: 1023px){

}
@media only screen and (min-width : 320px) and (max-width : 767px){
  .maptitle h5{
    font-size: 14px;
  }

  .collapsible-body{
    font-size: 12px;
  }

  footer{
    font-size: 13px;
  }

  footer div{
    padding: 10px 30px;
    text-align: center;
  }

  .left300{
    margin-left: 0px;
  }
}
